
<a href="{{ path('edr_admin_accueil_edit', { 'id': accueil.id }) }}" role="button"
   class="btn btn-primary"><i
            class="ti ti-edit"></i> Modifier</a>

<a href="{{ path('edr_admin_enfant_show', {'id': enfant.id}) }}" class="btn btn-primary" role='button'><i class="ti ti-list"></i>
    Retour à l'enfant</a>

<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="ti ti-trash"></i> Supprimer
</button>

<br/><br/>
