{% extends '@AcMarcheEdrAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>{{ accueil.dateJour | format_date('full') }}</h3>
        </div>
        <div class="card-body">

            {{ include('@AcMarcheEdrAdmin/accueil/_form.html.twig') }}

        </div>
        <div class="card-footer">
            <a href="{{ path('edr_admin_accueil_show',{'id':accueil.id}) }}" class="mt-4">
                <i class="ti ti-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
