<div class="btn-group">

{% include '@AcMarcheEdr/ecole/ecole/_btn_inscriptions.html.twig' %}
</div>

<a class="btn btn-primary" role="button"
   href="{{ path('edr_ecole_enfant_index') }}"><i class="ti ti-list"></i> Les enfants</a>

 <a href="{{ path('edr_ecole_ecole_index') }}" class="btn btn-primary" role='button'><i
                    class="ti ti-list"></i>
            Retour à la Liste</a>
<br/><br/>
