{% extends '@AcMarcheEdrAdmin/layout.html.twig' %}

{% block body %}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Fiche santé de {{ enfant }}</h3>
        </div>
        <div class="card-body">

            {% include '@AcMarcheEdrAdmin/sante_fiche/_actions.html.twig' %}

            <br/>

            {% include '@AcMarcheEdr/sante/_detail.html.twig' %}
        </div>
    </div>

    {% include '@AcMarcheEdrAdmin/sante_fiche/_delete_form.html.twig' %}

{% endblock %}
