{% extends '@AcMarcheEdr/base.html.twig' %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('edr_ecole_home') }}">
        <i class="ti ti-frog icon-rose d-inline-block align-text-top"></i>
        <span class="ms-2 fs-4 navbar-text">Edr</span>
    </a>
{% endblock %}

{% block menu_top %}
    {% include '@AcMarcheEdrEcole/_menu.html.twig' %}
{% endblock %}
